{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Forgot Password | SecureBank</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <div class="auth-container">
    <div class="auth-card">
      <h2 class="auth-title">Forgot Your Password?</h2>
      <p class="auth-subtitle">Enter your username to reset your password</p>
      <br/>
      <form method="POST">
        {% csrf_token %}

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" class="form-input" required>
        </div>

        <button type="submit" class="btn">Next</button>

        {% if messages %}
          <div class="message-container">
            {% for message in messages %}
              <p class="error">{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </form>

      <p class="switch-auth">
        <a href="{% url 'login' %}">Back to Login</a>
      </p>
    </div>
  </div>

</body>
</html>
